# Copy to .env for local development.
#
# Create an app at https://developers.eveonline.com/applications with this redirect:
# http://localhost:8787/development/sso/
EVE_CLIENT_ID=
EVE_CLIENT_SECRET=
EVE_REDIRECT_URI=http://localhost:8787/development/sso/
EVE_SCOPES=esi-markets.read_character_orders.v1 esi-wallet.read_character_wallet.v1
EVE_COMPATIBILITY_DATE=2026-05-18
EVE_REGION_ID=10000002
